# Uncomment the following lines before pushing to production
# README.md
# package.json
# gulpfile.js
# bower.json
# /static

# Comment the following lines before pushing to production
/.compiled
secret_vars.py

# Python files
*~
*.pyc
*.wpu
*.wpr
*.sqlite
/venv

# Front-end files
/static/bower_components/
/node_modules
/staticfiles
/rev
/.tmp
