
.padding-vert(@value) {
  padding-top: @value;
  padding-bottom: @value;
}

.padding-horz(@value) {
  padding-right: @value;
  padding-left: @value;
}

.margin-vert(@value) {
  margin-top: @value;
  margin-bottom: @value;
}

.margin-horz(@value) {
  margin-right: @value;
  margin-left: @value;
}

.make-circle(@value, @font-size, @first-color, @second-color)  {
  width: @value;
  height: @value;
  font-size: @font-size;
  line-height: @value;
  border-radius: @value;
  background: linear-gradient(
    90deg,
    @first-color @value/2,
    @second-color @value/2
  );
}
