
.padding-vert(@value) {
  padding-top: @value;
  padding-bottom: @value;
}

.padding-horz(@value) {
  padding-right: @value;
  padding-left: @value;
}

.margin-vert(@value) {
  margin-top: @value;
  margin-bottom: @value;
}

.margin-horz(@value) {
  margin-right: @value;
  margin-left: @value;
}
