
@import "aj-variables";
@import "aj-mixins";

.btn  {
  font-size: 15px;
  font-family: "proximanova";
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  .padding-horz(40px);
  .padding-vert(15px);

  .fa {
    margin-left: 15px;
  }
}

.btn-default  {
  border-color: @aj-bg-color;
  color: @aj-text-color;

  &:hover, &:focus, &:active, &:active:focus{
    background-color: @aj-bg-color;
    border-color: @aj-bg-color;
    color: @aj-twitter-color;
  }
}

.btn-primary  {
  border-color: @aj-blue-color;
  color: @aj-blue-color;

  &:hover, &:focus, &:active, &:active:focus{
    background-color: @aj-blue-color;
    border-color: @aj-blue-color;
    color: @aj-text-color;
  }
}


.btn-vio-primary  {
  border-color: @aj-violet-color;
  color: @aj-violet-color;

  &:hover, &:focus, &:active, &:active:focus {
    background-color: @aj-violet-color;
    border-color: @aj-violet-color;
    color: @aj-text-color;
  }
}
