
@import "aj-variables";
@import "aj-mixins";

.btn  {
  font-size: 15px;
  font-family: "proximanova";
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  border: none;
  transition: all 0.2s cubic-bezier(0.390, 0.500, 0.150, 1.360);


  .padding-horz(40px);
  .padding-vert(15px);

  .fa {
    margin-left: 15px;
  }

  @media (max-width: @screen-md)  {
    margin: 0 auto;
    display: block;
    padding: 15px 0;
  }
}

.btn-default  {
  color: @aj-text-color;
  box-shadow: @aj-bg-color 0 0 0 2px inset;

  &:hover, &:focus, &:active, &:active:focus{
    background-color: @aj-bg-color;
    color: @aj-twitter-color;
    box-shadow: @aj-bg-color 0 80px 0px 2px inset;
  }
}

.btn-primary  {
  color: @aj-blue-color;
  box-shadow: @aj-blue-color 0 0 0 2px inset;

  &:hover, &:focus, &:active, &:active:focus{
    color: @aj-text-color;
    box-shadow: @aj-blue-color 0 80px 0px 2px inset;
  }
}


.btn-vio-primary  {
  color: @aj-violet-color;
  box-shadow: @aj-violet-color 0 0 0 2px inset;

  &:hover, &:focus, &:active, &:active:focus {
    background-color: @aj-violet-color;
    color: @aj-text-color;
    box-shadow: @aj-violet-color 0 80px 0px 2px inset;
  }
}
