
@import "../../bower_components/bootstrap/less/variables";

@aj-yellow-color: #ebcb93;
@aj-op-yellow-color: rgba(235, 203, 147, 0.8);

@aj-bg-color: #1f2529;
@aj-alt-bg-color: rgba(255, 255, 255, 0.85);

@aj-text-color: white;
@aj-alt-text-color: #204a5e;
@aj-link-color: @aj-yellow-color;

@aj-grey-color: #454E5A;
@aj-alt-grey-color: rgba(69, 78, 90, 0.5);
