@aj-bg-color: white;
@aj-text-color: white;
@aj-blue-color: rgb(13, 169, 229);
@aj-blue-color-op: rgba(13, 169, 229, 0.7);
@aj-gray-color: rgb(232, 235, 240);
@aj-text-gray-color: rgb(30, 30, 31);
@aj-text-light-gray-color: rgb(88, 88, 88);

@nav-color-main: rgb(255, 82, 82);

@nav-height: 27px;
@nav-width: 35px;
