
@import "bootstrap";

@aj-bg-color: white;
@aj-text-color: white;
@aj-violet-color: rgb(221, 23, 87);
@aj-twitter-color: rgb(19, 195, 174);

@aj-blue-color: rgb(0, 187, 255);
@aj-blue-color-op: rgba(13, 169, 229, 0.7);

@aj-background-gray-color: rgba(232, 235, 240, 0.5);
@aj-text-light-gray-color: rgb(88, 88, 88);
@aj-text-gray-color: rgb(84, 84, 84);
@aj-dark-gray-color: rgb(54, 77, 93);
@nav-color-main: rgb(255, 82, 82);

@nav-height: 27px;
@nav-width: 35px;
