
{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Oops!{% endblock %}

{% block header_links %}
  <link rel="stylesheet" href="{% static "styles/error-pages.min.css" %}">
{% endblock %}

{% block content %}
<div id="header" class="jumbotron header">
  <div class="container">
    <div class="content">
      <h1 class="error">/500/</h1>

      <div class="message col-md-10 col-md-offset-1">
          It's looking like something went wrong on my server<br>
          preventing me processing your request :(
          <br>
          <br>
          <div class="email-me">
            If the problem persists, please email me
            <a href="mailto:{{ EMAIL }}">here</a>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
