{% extends 'layout.html' %}

{% load i18n %}
{% load staticfiles %}

{% block body %}
  <div class="container-wrap">
    {% include 'components/aside.html' with sliders=sliders %}

    <div id="fh5co-about">
      <div class="row animate-box">
        <div
            class="col-md-6 col-md-offset-3 text-center heading-section">
          <h3>{% trans 'My History' %}</h3>
          {% with '<a href="https://github.com/ahmedaljazzar">' as link_begin %}
          {% with '</a>' as link_end %}
            <p>
            {% blocktrans %}
              There’s no test like production. Check my production code
              on {{ link_begin }}Github{{ link_end }}!
            {% endblocktrans %}
          {% endwith %}
          {% endwith %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center animate-box">
          <p><img src="{% static 'images/about.jpg' %}"
                  alt="Free HTML5 Bootstrap Template"
                  class="img-responsive"></p>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center animate-box">
          <div class="about-desc">
            <h3>{% trans "Hi! I'm Ahmed" %}</h3>
            <p>{% blocktrans %}
              Building surpassing independent solutions for the web
              and working on making that implementation a
              data-driven one is my daily task.
            {% endblocktrans %}</p>
            <p>{% blocktrans %}
              You can also say that I'm a Global Shaper in Amman hub
              where I entirely focus on reshaping the future of the
              community and the region I live within. In that, I'm also
              honored to get the opportunity to meet more passionate
              people and to empower them.
            {% endblocktrans %}</p>
            <p>{% blocktrans %}
              As you may notice, I love everything related to art
              despite me holding  a bachelor's degree in Computer
              Science and pursuing a master's one in Engineering
              management. You can say it's a lifestyle. I spent half
              of my life on designing digital graphics, editing
              videos, and playing music on both instruments; Oud and
              Piano.
            {% endblocktrans %}</p>
            <p>
            <ul class="fh5co-social-icons">
              {% for account in social_accounts %}
                <li>
                  <a href="{{ account.link }}">
                    <i class="fa {{ account.get_class }}"></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
