{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Ahmed Jazzar!{% endblock %}

{% block header_links %}
  <link rel="stylesheet" href="{% static "styles/home.min.css" %}">
  <link rel="stylesheet" href="{% static "styles/partials/aj-fonts.min.css" %}" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="{% static "styles/partials/animations.min.css" %}">
  <!-- TODO: remove CDN and install the package -->
  <!-- TODO: check https://fortawesome.github.io/Font-Awesome/get-started/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <div class="jumbotron header">
    <div class="container">

      <div class="nav-container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>

      <div class="nav-overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            {% for nav in navs %}
              <li ><a href="{{ nav.href }}">{{ nav.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="logo-wrapper">
        <img class="logo" src="/media/{{ logo }}"/>
      </div>
      <div class="content">
        <h1 class="name">{{ full_name }},</h1>
        <p>{{ about }}</p>
      </div>
      <div class="location-wrapper">
        <div class="location-describers">
          <div class="map-marker floating">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="text-desribtion">
            <div class="from">from</div>
            <div class="palestine">{{ country }}</div>
          </div>
        </div>
        <img src="/media/{{ country_image }}" />
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $('#toggle').click(function() {
     $(this).toggleClass('active');
     $('#overlay').toggleClass('open');
    });
  </script>
{% endblock %}
