{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}{{ full_name }}!{% endblock %}

{% block header_links %}
  <link rel="stylesheet" href="{% static "styles/home.min.css" %}">
  <link rel="stylesheet" href="{% static "styles/partials/animations.min.css" %}">
  <!-- TODO: remove CDN and install the package -->
  <!-- TODO: check https://fortawesome.github.io/Font-Awesome/get-started/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <div class="jumbotron header">
    <div class="container">

      <div class="nav-container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>

      <div class="nav-overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            {% for nav in navs %}
              <li ><a href="{{ nav.href }}">{{ nav.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="logo-wrapper">
        <img class="logo" src="{{MEDIA_URL}}{{ logo }}"/>
      </div>

      <div class="content">
        <h1 class="name">{{ full_name }},</h1>
        <p>{{ about }}</p>
      </div>

      <div class="location-wrapper">
        <div class="location-describers">
          <div class="map-marker floating">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="text-desribtion">
            <div class="from">from</div>
            <div class="country">{{ country }}</div>
          </div>
        </div>
        <img src="{{MEDIA_URL}}{{ country_image }}" />
      </div>
    </div>
    <div class="day-night container-fluid">
      <div class="day-night-container day-container col-md-4">
        <img class="left-arrow" src="{% static "images/left-arrow.png" %}" />
        <div class="day">Day</div>
        <div class="code">
          &lt;/body&gt;&lt;/html&gt; </br>
          def render( **kwargs </br>
          self, content </br>
          &bnsp;return </br>
          .header { </br>
        </div>
      </div>
      <div class="imac col-md-4">
        <img class="img-responsive" src="{% static "images/imac-photoshop.png" %}"/>
      </div>
      <div class="day-night-container night-container col-md-4">
        <img class="right-arrow" src="{% static "images/right-arrow.png" %}" />
        <div class="night">Night</div>
        <div class="paintings">
          <img src="{% static "images/paintings.png" %}" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="a-nerd-wrapper container-fluid">
    <div class="a-nerd container">
      <div class="col-md-6">
        <div class="title">A nerd.</div>
        <div class="content">
          I am a tireless seeker of knowledge, mining tool for math, and also,
          coincidentally a graphic designer. I enjoy deleting bunch of codes as
          much as I enjoy writing them.
        </div>
        <div class="note">
          I am not ashamed of being a human being who always looks both ways
          before crossing a one-way street.
        </div>
        <a class="say-hello btn btn-primary" href="#" role="button">
          Say Hello
          <i class="fa fa-envelope"></i>
        </a>
      </div>
      <div class="image col-md-6">
        <img class="img-responsive" src="{% static "images/cartoon-full.png" %}"/>
      </div>
    </div>
  </div>

  <div class="wanna-join-wrapper container-fluid">
    <div class="wanna-join container">
      <div class="langs col-md-7">
        <div class="row first-row">
          <i class="circle html fa fa-html5"></i>
          <p class="circle java">JAVA</p>
          <i class="circle ubuntu icon-ubuntu"></i>
        </div>
        <div class="row second-row">
          <i class="circle android fa fa-android"></i>
          <i class="circle css3 fa fa-css3"></i>
          <i class="circle python icon-python"></i>
        </div>
        <div class="laptop">
          <img class="img-responsive" width="60%" src="{% static "images/laptop.png" %}" alt="" />
        </div>
      </div>
      <div class="col-md-5">
        <div class="title">Wanna join me?</div>
        <div class="intro">
          I am very excited to kick off a new opportunity and I hope you join
          me.
        </div>
        <div class="content">
          Each month I will share with you projects, stories, updates, and
          motivation to help you coding better a life, and enjoing your journy.
        </div>
        <a class="fork-me btn btn-vio-primary" href="#" role="button">
          Fork me on GitHub
          <i class="fa fa-lg fa-github-square"></i>
        </a>
        <div class="light-bulb">
          <img class="img-responsive" src="{% static "images/light-bulb.png" %}" alt="" />
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $('#toggle').click(function() {
     $(this).toggleClass('active');
     $('#overlay').toggleClass('open');
    });
  </script>
{% endblock %}
