
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block metatags %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *muast* come first in the head; any other head content must come *after* these tags -->
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/partials/aj-fonts.min.css" %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static "styles/partials/aj-theme.min.css" %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static "styles/partials/aj-animations.min.css" %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static "styles/partials/font-awesome.min.css" %}">

    <link rel="stylesheet" href="{% static "styles/layout.min.css" %}" type="text/css" charset="utf-8">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="fontcustom-ie7.css" /><![endif]-->

    {% block header_links %}
    {% endblock %}

  </head>
  <body background="{% static "images/header.jpg" %}">

    <div class="main">
      <a href="{{ urls.home }}">
        <img class="logo" src="{{ MEDIA_URL }}{{ logo }}" alt="Aا" />
      </a>
      {% block content %}
      {% endblock %}
    </div>
    <div class="aside hide">
      <div class="intro">
        I'm a {{ age }} year old {{ about }}.
      </div>

      <div class="aside-title">interests</div>

        <div class="aside-paragraph">
          <ul>
            {% for interest in interests %}
              <li>{{ interest }}.</li>
            {% endfor %}
          </ul>
        </div>

        <div class="aside-title">my latest projects</div>

          <div class="aside-paragraph">
            <ul>
              {% for latest_project in latest_projects %}
                <li>{{ latest_project }}.</li>
              {% endfor %}
            </ul>
          </div>

      <div class="aside-title">
        Got an idea worth sharing?
      </div>
      <div class="aside-paragraph contact">
        <div class="links">
          <a href="https://www.github.com/{{ GITHUB_USERNAME }}" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://www.twitter.com/{{ TWITTER_USERNAME }}" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/{{ FACEBOOK_USERNAME }}" target="_blank">
            <i class="fa fa-facebook-f"></i>
          </a>
           <a href="mailto:{{ EMAIL }}">
             <i class="fa fa-paper-plane-o"></i>
           </a>
        </div>
      </div>

      <div class="footer">
        <div class="footer-paragraph">
          Designed with <i class="fa fa-heart"></i> by Ahmed Jazzar   -  {% now "Y" %}
        </div>
      </div>
    </div>
    {% block scripts%}
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
      <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
      <script src="{% static "scripts/layout.min.js" %}"></script>
    {% endblock %}
  </body>
</html>
