
@import "partials/aj-variables";

body  {
  .console-wrapper  {
    position: absolute;
    bottom: 100px;
    left: 100px;

    .console  {
      max-width: 860px;

      span  {
        display: inline;
        line-height: 40px;
        font-size: 25px;
        margin-left: 4px;

        &.highlight  {
          color: @aj-link-color;
          font-weight: bold;
        }
      }

      .initial-line {
        display: inline;
        user-select: none;

        .cursor {
          display: inline-block;
          width: 3px;
          height: 33px;
          margin-left: 10px;
          border-radius: 3px;
          box-shadow: 0 0 10px rgba(0,0,0,.3);
          background: @aj-link-color;
        }

        .place-holder {
          display: inline-block;
          line-height: 35px;
          font-size: 30px;
          background-color: #283038;
          vertical-align: text-bottom;
          padding-left: 10px;
          cursor: help;
        }
      }
    }

    @media (max-width: @screen-md)  {
      position: relative;
      bottom: auto;
      left: auto;
      margin-top: 50px;

      .console  {
        margin-top: 15px;
        padding: 0 50px 15px;

        span  {
          line-height: 40px;
          font-size: 18px;
        }
      }
    }
  }

  .alert-container  {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .alert-info {
      background-color: @aj-op-yellow-color;
      color: @aj-grey-color;
      border-color: @aj-op-yellow-color
    }
  }
}
