
@import "partials/aj-variables";

body  {
  .console-wrapper  {
    max-height: 955px;

    .console  {
      position: absolute;
      bottom: 115px;
      left: 85px;
      max-width: 860px;

      .cursor {
        display: inline-block;
        width: 3px;
        height: 33px;
        margin-left: 10px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        background: @aj-alt-text-color;
      }

      span  {
        display: inline;
        line-height: 61px;
        font-size: 25px;
        margin-left: 4px;

        &.highlight  {
          color: @aj-alt-text-color;
          font-weight: bold;
        }
      }

      .place-holder {
        display: inline-block;
        line-height: 35px;
        font-size: 30px;
        background-color: #283038;
        vertical-align: text-bottom;
        padding-left: 10px;
      }
    }
  }
}
