
@import "partials/aj-variables";

html  {
  height: 100%;

  body  {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @aj-bg-color;

    color: @aj-text-color;
    font-family: anonymous,"Helvetica Neue",Helvetica,Arial,sans-serif;

    .main {
      @logo-height: 50px;
      height: 955px;

      .logo-area  {
        .logo {
          position: absolute;
          height: @logo-height;
          top: @logo-height;
          left: 85px;
        }

        .skip {
          position: absolute;
          top: 1.25 * @logo-height;
          left: 145px;
          cursor: pointer;
          font-size: 14px;
          text-shadow: 0px 0px 1px white;
        }
      }

      a {
        color: @aj-alt-text-color;
        font-weight: bold;
      }
    }

    .aside {
      position: fixed;
      width: 400px;
      cursor: pointer;
      top: 0;
      right: -320px;
      height: 100%;
      background-color: #2E353C;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 60px;
      font-size: 20px;
      font-family: sans-serif, anonymous;
      font-weight: lighter;

      &.open  {
        background-color: rgba(46, 53, 60, 0.9);
        right: 0;
      }

      .aside-title, .footer  {
        font-size: small;
        color: #636E7D;
        margin-top: 50px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .intro  {
        font-size: 22px;
        margin-bottom: 90px;
      }

      .aside-paragraph  {
        font-size: 18px;

        li  {
          list-style: none;
          font-size: 16px;
          padding-top: 10px;

          a {
            color: @aj-text-color;
          }
        }

        &.contact {
          padding-top: 10px;
          position: absolute;
          left: 50%;

          .links  {
            position: relative;
            left: -50%;
            width: 213px;

            &:hover {
              a {
                color: #636E7D;
              }
            }

            a {
              color: white;
              margin-right: 15px;
              margin-left: 15px;
              font-size: 23px;

              &:hover {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }

      .footer {
        position: absolute;
        bottom: 50px;
        left: 50%;

        .footer-paragraph {
          position: relative;
          width: 145px;
          left: -50%;
        }
      }
    }
  }
}
